body {
    margin: 0;
    padding: 0;
 }
 #outer {
    margin: 5em;
    height: 4em;
    border: 1px solid #ff0000; /*rojo*/
    position: relative;
 }
 
 /*Un elemento position: relative se posiciona en relación con su posición normal.
 Al configurar las propiedades superior, derecha, inferior e izquierda de un elemento
 posicionado de manera relativa, este se ajustará para que no se encuentre en su posición normal.*/
 
 #inner {
    border: 1px solid black;
    width: 6em;
    height: 4em;
    background-color: #999999; /*gris*/
    position: absolute;
    left: 10em;   /*con esto muevo el objeto dentro de la caja ya sirve pra hacer hueco a otros objetos como imagenes.*/
    text-align: center;
    line-height: 4em;      /*esta es una manera de alinear verticalmente, 
                            darle el mismo tamaño que height*/
    
 }

 #inner2{
    border: 1px solid black;
    width: 6em;
    height: 4em;
    background-color: #bde783;
    position: absolute;
    left: 16em;  
    line-height: 4em;   
    text-align: center;

 }
 img{
   height: 4em;
   position: absolute;
   z-index: 2;
   left: 16.5em;
 }
 
 /*Un elemento position: absolute;se posiciona en relación con el ancestro posicionado más cercano
 (en lugar de posicionarse en relación con la ventana gráfica, como fijo).*/
 
 /*Para mover el INNER hay qUe poner posición absoluta a inner pero cambiar a posición relativa a
 outer (para que se desplace con respecto a outer)*/