/*Imágenes https://www.w3schools.com/css/css3_images.asp*/

div {
    width:100%;
  }
  
  img.grande {
    width: 50%;   /*imágenes responsive*/
    height: auto;
    margin: auto;
    display: block;
    border-radius: 200px;
    box-shadow: 5px 5px 1px #ccc; /*horizontal y vertical, difuminado y color*/
  }
  img.pequeña {
    margin: 20px;
    width: 20%;
    height: auto;
    border-radius: 200px;
    padding:10px ;
    border: 5px solid #ccc;
  }
  
  /* Galería https://www.w3schools.com/css/css_image_gallery.asp*/
  
  .gallery {
    padding: 5px;
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    text-align: center;
  }